.confirmar{
    text-align: center;
    font-size: 30px;
    background-color: rgb(255, 177, 177);
    text-transform: uppercase;
    font-weight: bold;
}

.confirmar2{
    text-align: center;
    font-size: 30px;
    background-color: rgb(199, 228, 193);
    text-transform: uppercase;
    font-weight: bold;
}